.Settings-gear-container {
    height: 100%;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.Settings-gear-btn {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.Settings-gear-btn i {
    color: #2f3640;
    transition: 2s;
     font-size: 25px;
}


.Settings-gear-btn:hover i {
    color: red;
    text-shadow: 2px 2px 2px 2px #FF0000;
    transition: 2s;
    animation: rotation 0.7s linear 0s infinite forwards;
}

.Settings-gear-btn i:hover {
    cursor: pointer;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}