.Connect-wallet-button:hover {
    margin-top: -2px;
    transition: 0.2s;
}

.Modal-connect-wallet:focus {
    outline: none;
}

.Wallet-modal-box-header {
    display: flex;
    justify-content: space-around;
}

.LogRegCntnr {
    text-align: center;
}

.Lock-icon {
    width: 120px;
}

.Log-reg-link-a {
    cursor: pointer;
    text-decoration: underline;
}

.Log-reg-link-a:hover {
    text-decoration: none;
}


.Registration-container h2,
.Login-container h2 {
    margin: 0;
    color: #2f3640;
    font-weight: 400;
}

.Input-box {
    margin: 10px 0px;
}

.show-hide-password:hover {
    cursor: pointer;
}


.link-to-sign-in {
    margin-left: -18px;
}

.Wrong-credentials-div {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    width: 260px;
}

.Registration-messages-div {
    height: 90px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.Wrong-credentials-message {
    font-size: 14px;
    color: red;
    margin: 5px 0;
}
.Wrong-credentials-message.password-require, .Wrong-credentials-message.username-require{
    color: rgb(201, 82, 38);
}
.Wrong-credentials-message.accessMessage{
    color:green;
}

.form-for-password-field {
    width: 100%;
}

