.Nav-Link {
  text-decoration: none;
  color: #2f3640;
}
.Nav-Link-container {
  height: 60px;
}
.Nav-Link {
  text-transform: capitalize;
}

.logoSize {
  width: 100px;
}

.MobileLogoSize {
  width: 70px
}

.Connect-wallet:hover {
  margin-top: -2px;
  transition: 0.2s;
}

/* MOBILE START  */

.Flex-Column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Flex-Column > a {
  text-decoration: none;
  font-size: 14px;
  color: black;
}

.Mobile-Icons-Header {
  font-size: 25px;
}

/* MOBILE END  */