.App-header {
  /* height: 63px; */
  position: sticky;
  z-index: 5;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: rgb(13, 2, 2);
}


@media only screen and (max-width: 600px)  {
  .Header-container-mobile {
    display: block;
  }
  .Header-container {
    display: none;
  }
}
  
