.symbolNameLogoContainerCellContainer {
  display: flex;
  align-items: center;
}

.symbolNameLogoContainerCellContainer > img {
  padding: 0px 5.5px 0px 0px;
  width: 30px;
  height: 42px;
}

.symbolAndLogoCell {
  text-align: left;
  display: flex;
  flex-direction: column;
  line-height: 0.43;
  padding-top: 5px;
}

.symbolAndLogoCell > a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.symbolAndLogoCell > p {
  font-size: 0.8em;
  opacity: 0.7;
}

.exchangeIcons {
  display: flex;
  justify-content: center;
}

.exchangeIcons > svg {
  padding-left: 70px;
  font-size: 25px;
}
