.MainWrapper {
      padding: 0vw 7vw;
      justify-content: center;
      margin-top: -110px;
}

@media only screen and (max-width: 900px) {
    .MainWrapper {
        margin-top: -110px;
        transition: 1s;
    }
}

@media only screen and (max-width: 700px) {
    .MainWrapper {
        padding: 0px;
        margin-top: 0px;
        transition: 1s;
    }
}