.InputSearch {
    display: flex;
    background-color: #2f3640;
    height: 20px;
    border-radius: 20px;
    padding: 6px;
    transition: 0.4s;
    
}

.Search-btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: #ffffff;
    cursor: pointer;
}

.Search-btn i {
    font-size: 15px;
}

.InputSearch:hover .Search-text, .Search-text:focus {
    width: 150px;
    padding: 0 4px;
}

.Search-text {
    border: none;
    outline: none;
    background: none;
    padding: 0;
    color: #ffffff;
    transition: 0.4s;
    line-height: 20px;
    width: 0;
    font-weight: bold;

}

.InputSearch:hover .Search-btn {
    color: #ffffff;
    background: linear-gradient(45deg, rgb(63, 81, 181), rgb(100, 181, 246));
}

.InputSearch:hover .Search-btn:hover {
    background: linear-gradient(45deg, rgb(42, 55, 131), rgb(60, 138, 201));
}