.InputSearch {
    display: flex;
    background-color: white;
    height: 20px;
    border: white solid 1px;
    border-radius: 20px;
    padding: 6px;
    transition: 0.4s;
    
}

.InputSearch:hover {
    transition: 0.8s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.focused {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.Search-btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: #2f3640;
    cursor: pointer;
}

.Search-btn i {
    font-size: 17px;
}

.Search-text {
    border: none;
    outline: none;
    background: none;
    padding: 0;
    color: #2f3640;
    transition: 0.4s;
    line-height: 20px;
    width: 0;
    font-weight: bold;

}
.InputSearch:hover .Search-text, .Search-text:focus {
    width: 150px;
    padding: 0 5px;
}


